@{
    ViewData["Title"] = "Caja Abierta";
}

<h1>Caja Abierta</h1>
<style>
    h1{
        margin-bottom: 40px; /* Espacio inferior */
        margin-top: 30px; /* Espacio superior */
    }
</style>
<div>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", new { /* id = Model.PrimaryKey */ })'">Regresar</button>
</div>
